@media screen and (max-width: 380px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: auto;
    background-color: var(--Dark-cyan);
    position: relative;
    background-image: url(./images/bg-pattern-top.svg),
      url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: -10vh -80vh, 100vh 60vh;
  }

  .container {
    width: 365px;
    margin: auto;
  }
}
